<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Home</title>
		<meta name="referrer" content="no-referrer">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="server_source/css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="server_source/images/fav-icon.png" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!----webfonts---->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!----//webfonts---->
		<!-- Global CSS for the page and tiles -->
  		<link rel="stylesheet" href="server_source/css/main.css">
  		<!-- //Global CSS for the page and tiles -->
		<!-- start-click-drop-down-menu ----->
		<script src="server_source/js/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<style>
			body{
				background-image: url("https://pic.netbian.com/uploads/allimg/160903/104205-14728705251ec8.jpg");
				background-repeat: no-repeat;
				-moz-opacity: 0.5%;
				background-size: cover;
			}
		</style>

        <!----start-dropdown--->
         <script type="text/javascript">
			var $ = jQuery.noConflict();
				$(function() {
					$('#activator').click(function(){
						$('#box').animate({'top':'0px'},500);
					});
					$('#boxclose').click(function(){
					$('#box').animate({'top':'-700px'},500);
					});
				});
				$(document).ready(function(){
				//Hide (Collapse) the toggle containers on load
				$(".toggle_container").hide(); 
				//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
				$(".trigger").click(function(){
					$(this).toggleClass("active").next().slideToggle("slow");
						return false; //Prevent the browser jump to the link anchor
				});
									
			});
		</script>
        <!----//End-dropdown--->
		<!---//End-click-drop-down-menu----->
	</head>
	<body>
	<!--<div class="video">
		<video autoplay="autoplay" muted="muted" loop="loop">
			<source type="video/mp4" src="register_login/video/index.mp4"></source>
		</video>
	</div>-->
		<!---start-wrap---->
			<!---start-header---->
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="/index"><img style="height: 50px;width: 100px" src="server_source/images/mylog.png" title="MEMORY" /></a>
				</div>
				<div class="nav-icon">
					 <a href="#" class="right_bt" id="activator"><span> </span> </a>
				</div>
				 <div class="box" id="box">
					 <div class="box_content">        					                         
						<div class="box_content_center">
						 	<div class="form_content">
								<div class="menu_box_list">
									<ul>
										<li><a href="/index"><span>主页</span></a></li>
										<li><a href="/getAllShop"><span>线下</span></a></li>
										<li><a href="#"><span>视频</span></a></li>
										<li><a href="#"><span>工作室</span></a></li>
										<li><a href="contact.html"><span>联系</span></a></li>
										<div class="clear"> </div>
									</ul>
								</div>
								<a class="boxclose" id="boxclose"> <span> </span></a>
							</div>                                  
						</div> 	
					</div> 
				</div>       	  
				<div class="top-searchbar">
					<form>
						<input type="text" /><input type="submit" value="" />
					</form>
				</div>
				<div class="userinfo">
					<div class="user">
						<ul>
							<li><a href="/login_page"><img style="width: 30px;height: 30px" src="https://pic.netbian.com/uploads/allimg/210419/170706-16188232261e9f.jpg" title="user-name" /><span style="font-size: 10px" th:text="${((#request.getSession().getAttribute('token'))==null||(#request.getSession().getAttribute('token'))=='null')?'去登陆':#request.getSession().getAttribute('token')}"></span></a></li>
							<!--在这里加入下拉菜单-->
							<li>
								<div  class="dropdown">
									<button class="btn btn-default dropdown-toggle glyphicon" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

									</button>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="text-align: center">

                                        <!--<li th:style="${#request.getSession().getAttribute('token')!=null&&#request.getSession().getAttribute('token')!='null'}?'display:none':''">测试</li>-->
										<li th:style="${#request.getSession().getAttribute('token')!=null&&#request.getSession().getAttribute('token')!='null'}?'display:block':'display:none'"><a href="/show_page">我的主页</a></li></br>
										<li th:style="${#request.getSession().getAttribute('token')!=null&&#request.getSession().getAttribute('token')!='null'}?'display:block':'display:none'"><a href="/accountPage">我的账户</a></li></br>
										<li th:style="${#request.getSession().getAttribute('token')!=null&&#request.getSession().getAttribute('token')!='null'}?'display:block':'display:none'"><a href="#">修改信息</a></li></br>
										<li th:style="${#request.getSession().getAttribute('token')==null||#request.getSession().getAttribute('token')=='null'}?'display:block':'display:none'"><a href="/login_page">登录</a></li></br>
										<!--<li role="separator" class="divider"></li>-->
										<li th:style="${#request.getSession().getAttribute('token')!=null&&#request.getSession().getAttribute('token')!='null'}?'display:block':'display:none'"><a href="/login_out">注销</a></li>
									</ul>
								</div>
							</li>

						</ul>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<!---//End-header---->
        <div class="copyrights">Collect from <a href="https://www.webmoban.net" >xie.song.lin</a></div>
		<!---start-content---->
		<div class="content">
			<div class="wrap">
			 <div id="main" role="main">
			      <ul id="tiles">
			        <!-- These are our grid blocks -->
			        <li th:each="image:${images}">

			        	<img class="img_address" th:src="${'data:image/jpg;base64,'+image.getImage_address()}" width="200" height="200">
			        	<div class="post-info">
			        		<div class="post-basic-info">
				        		<h5><a href="#" th:text="${image.getDescription()}"></a></h5>
				        		<span><a class="owner" href="#" th:text="${image.getOwner()}"><label > </label></a></span>
								<p th:text="${image.getUpload_time()}"></p>
			        		</div>
							<!--点赞模块-->
							<button type="button" class="btn  btn-lg" onclick="goodFunc(this)">
								<span class="ic glyphicon glyphicon-heart-empty"  aria-hidden="true">0</span>
							</button>
						</div>

			        </li>

			        <!-- End of grid blocks -->
			      </ul>
			 </div>
			</div>
		</div>


		<!---//End-content---->
		<!----wookmark-scripts---->
		  <script src="server_source/js/jquery.imagesloaded.js"></script>
		  <script src="server_source/js/jquery.wookmark.js"></script>
		  <script type="text/javascript">

			  function goodFunc(obj) {
						 let span = obj.getElementsByClassName("ic");
				  			var classList = $(span).attr("class");
							var split = classList.split(' ');
							//点赞
							if(split[split.length-1]==="glyphicon-heart-empty"){
								$(span).removeClass("glyphicon-heart-empty");
								$(span).addClass("glyphicon-heart");
								$(span).css("color",'red');
								let jQuery = $(span).text();
								$(span).text(parseInt(jQuery)+1);

								var parentElem = obj.parent("li");

								alert(typeof parentElem);


							}else {
								//取赞
								$(span).removeClass("glyphicon-heart");
								$(span).addClass("glyphicon-heart-empty");
								$(span).css("color",'black');
								let jQuery = $(span).text();
								$(span).text(parseInt(jQuery)-1);
							}
			  }


		    (function ($){
		      var $tiles = $('#tiles'),
		          $handler = $('li', $tiles),
		          $main = $('#main'),
		          $window = $(window),
		          $document = $(document),
		          options = {
		            autoResize: true, // This will auto-update the layout when the browser window is resized.
		            container: $main, // Optional, used for some extra CSS styling
		            offset: 20, // Optional, the distance between grid items
		            itemWidth:280 // Optional, the width of a grid item
		          };
		      /**
		       * Reinitializes the wookmark handler after all images have loaded
		       */
		      function applyLayout() {
		        $tiles.imagesLoaded(function() {
		          // Destroy the old handler
		          if ($handler.wookmarkInstance) {
		            $handler.wookmarkInstance.clear();
		          }
		
		          // Create a new layout handler.
		          $handler = $('li', $tiles);
		          $handler.wookmark(options);
		        });
		      }

				$(window).scroll(function(){

				});


		      /**
		       * When scrolled all the way to the bottom, add more tiles
		       */
		      function onScroll() {
		        // Check if we're within 100 pixels of the bottom edge of the broser window.
		        var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
		            closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);
		
		        if (closeToBottom) {
		          // Get the first then items from the grid, clone them, and add them to the bottom of the grid
		          var $items = $('li', $tiles),
		              $firstTen = $items.slice(0, 10);
		          $tiles.append($firstTen.clone());
		
		          applyLayout();
		        }
		      };
		
		      // Call the layout function for the first time
		      applyLayout();
		
		      // Capture scroll event.
		      //$window.bind('scroll.wookmark', onScroll);
		    })(jQuery);
		  </script>
		<!----//wookmark-scripts---->
		<!----start-footer--->
		<div class="footer">
			<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="https://www.webmoban.net" target="_blank" title="网站模板">网站模板</a> - Collect from <a href="https://www.webmoban.net" title="web" target="_blank">web</a></p>
		</div>
		<!----//End-footer--->
		<!---//End-wrap---->
	</body>
</html>

