<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="register_login/css/bootstrap.css" />
		<link rel="stylesheet" href="register_login/css/register.css" />
		<link rel="stylesheet" href="register_login/css/footer&cbl.css" />
		<link rel="stylesheet" href="register_login/css/daohang.css" />
		
		<script type="text/javascript" src="register_login/js/jquery-1.11.3.js" ></script>
		<script type="text/javascript" src="register_login/js/bootstrap.js" ></script>
		<script type="text/javascript" src="register_login/js/templet.js" ></script>
		<title></title>
	</head>
	<body>
	<div class="video">
		<video autoplay="autoplay" muted="muted" loop="loop">
			<source type="video/mp4" src="register_login/video/video1.mp4"></source>
		</video>
	</div>
	<div id="main">
		<div class="main">
			<div class="container  ">
				<div class="c2">
					<a href=""></a><span>
						<img src="register_login/img/qifeiye.png" />
					</span></a>
					<p>从这里开启建站之旅</p>	
				</div>

				

				<div class="c3">

						<div class="form-group">

    						<label for="usernameoremail">电子邮箱 *</label>
    						<input style="color: #66EE66" type="text" class="form-control" id="usernameoremail">
    						<span class="pp hide">此项必须填写</span>
  						</div>
  						<div class="form-group">
    						<label for="password">密码 <img class="help" src="register_login/img/help.png" title="最少8位"/>*</label>
    						<input style="color: #66EE66" type="password" class="form-control" id="password">
  							<span class="pp hide">此项必须填写</span>
  						</div>
  						<div class="form-group">
    						<label for="re_password">再次输入密码 </label>
    						<input style="color: #66EE66" type="password" class="form-control" id="re_password" onmouseleave="password_same()">
							<span class="pp rep" style="display: none">两次密码不一致</span>
  						</div>
  						<div class="form-group">
    						<label for="question">验证问题 *</label>
    						<p style="color: #CCCCCC; font-size: 14px;">请回答: <label id="answer" style="color: #CCCCCC; font-size: 14px;"></label> 等于几?</p>
    						<input type="text" class="form-control" id="question">
  							<span class="pp hide">此项必须填写</span>
  						</div>
  						<div class="checkbox">
    						<label>
     		 					<input type="checkbox"> 我已经阅读并同意<a>服务条款</a>以及<a>法律声明</a>。我不会创建含有低俗内容及有碍社会安定内容的网站。
    						</label>
  						</div>
						<span class="pp code"  style="display: none">未注册成功</span>
  						<div class="c3-1">
							<button onclick="register()"  class="btn btn-default btn1">注册</button>
							<a href="/login_page" type="button" class="btn btn-default btn2">已经有账号了?请登录</a>
						</div>
						<div class="c3-2 clearfix">
							<span class="c3-2-2">其他账号登录：</span>
							<div class="c3-2-1">
								<a href="" title="使用腾讯QQ登录"><span class="s1"></span></a>
								<a href="" title="使用微信登录"><span class="s2"></span></a>
								<a href="" title="使用谷歌登录"><span class="s3"></span></a>
								<a href="" title="使用脸书登录"><span class="s4"></span></a>
							</div>
						</div>


				</div>
			</div>
		</div>
		<ul class="cbl" >
			<li><a href="#">
				<div class="icon d1"><i class="i1"></i><span class="title">在线客服</span></div>
			</a></li>
			<i class="clearfix"></i>
			<li><a href="#">
				<div class="icon d2"><i class="i2"></i><span class="title">4006285729</span></div>
			</a></li>
			<i class="clearfix"></i>
			<li><a  href="#">
				<div class="icon"><i class="i3"></i><span class="title">教程中心</span></div>
			</a></li>
			<i class="clearfix"></i>
			<li ><a  href="#">
				<div class="icon d4" data-toggle="tooltip" data-placement = "left" title="<img src='register_login/img/erweima.png'><br/> 关注微信 " data-html="true"><i class="i4"></i></div>
			</a></li>
		</ul>
	</div>
	</body>
	<script type="text/javascript" src="register_login/js/hp.js" ></script>
	<script type="text/javascript">
		/*$(function(){
			$("#dhbtn1").click(function(){
			//	console.log(1);
				$(".dhkuang").show();
				$(".dhneirong").animate("left","679px")
			})
		})*/

		function password_same() {
			let pass1 = $("#password").val();
			let pass2 = $("#re_password").val();

			if(pass1!==pass2){
				$(".rep").css('display','block');
			}else if(pass1===pass2){
				$(".rep").css('display','none');
			}
		}

		function register() {
			let username = $("#usernameoremail").val();
			let password = $("#password").val();
			let expr = $("#answer").text();

			let t = {
				"username":username,
				"password":password
			}


			if(username.length===0||password.length===0){
				alert("请不要强行提交！！");
				return;
			}

			$.ajax({
				url:"/to_register_server",
				type:"POST",
				data:JSON.stringify(t),
				contentType:"application/json",
				dataType:"text",
				success:function (data) {
					if(data==="exist"){
						alert("当前注册名不可用！！！");
					}else {
						location.href="/login_page";
						return;
					}

				},error:function () {
					alert("出错");
				}
			})
		}

	</script>
	
</html>
